

body {
    text-align: center;
    background-color: darkcyan;
}

table {
    margin: 0 auto;
    margin-top: 80px;
}
  
td {
    cursor: pointer;
}
  
td:hover {
    background-color: rgb(233, 167, 167);
}
